lamprop-manual.aux
lamprop-manual.fdb_latexmk
lamprop-manual.fls
lamprop-manual.idx
lamprop-manual.ilg
lamprop-manual.ind
lamprop-manual.log
lamprop-manual.out
lamprop-manual.toc
lamprop-manual.xdv
lamprop-manual.bbl
lamprop-manual.blg
